{% extends 'parent.html' %}

{% block head %}
	<link rel="stylesheet" href="{{ url_for('static', filename='first_style.css') }}">
{% endblock %}

{% block content %}
	<h2>About me</h2>
	<p class="name">Name: Maciej</p>
	<p class="surname">Surname: Dudzik</p>
{% endblock %}















<!-- <DOCTYPE html> -->
<!-- <html lang="en"> -->
  <!-- <head> -->
    <!-- <meta charset="utf-8"> -->
    <!-- <title>My first page</title> -->
		<!-- <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"> -->
  <!-- </head> -->
  <!-- <body> -->
    <!-- <h1>Welcome to my home page</h1> -->
    <!-- <img src="https://s.ciekawostkihistoryczne.pl/uploads/2019/03/Albert_Einstein_Head-340x340.jpg" alt="Screen of Einstein" title="Albert Einstein"> -->
    <!-- <h2>About me</h2> -->
    <!-- <p class="name">Name: Maciej</p> -->
    <!-- <p class="surname">Surname: Dudzik</p> -->
  <!-- </body> -->
<!-- <html> -->